#box{
	height: 320px;
	width: 320px;
	margin: auto;
}

#cell1{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

#cell2{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

#cell3{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

#cell4{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

#cell5{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

#cell6{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

#cell7{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

#cell8{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

#cell9{
	height: 100px;
	width: 100px;
	border: 1px solid black;
	display: inline-block; 
}

h1{
	text-align: center;
	font-family: Helvetica;
}

input{
	height: 100px;
	width: 100px;
	font-size: 70px;
	border: none;
}